    <header>
        
        <h1>Desafio 10</h1>
        <ul>

            {{!-- {{#ifnoteq active "vista"}} --}}
            <li><a href="/api/productos/vista">Vista de productos</a></li>
            {{!-- {{/ifnoteq}} --}}

            <li><a href="/">Ingresar Producto</a></li>

        </ul>

    </header>