    <header>
        
        <h1>Desafio 22</h1>
        <ul>

            {{!-- {{#ifnoteq active "vista"}} --}}
            <li><a href="/productos/vista">Vista de productos</a></li>
            {{!-- {{/ifnoteq}} --}}

            <li><a href="/productos/nuevo-producto">Ingresar Producto</a></li>

            <li><a href="/chat">Volver al Chat</a></li>

        </ul>

    </header>