    <header>
        
        <h1>Desafio 37</h1>
        <ul>

            <li><a href="/login">Login</a></li>

            <li><a href="/productos/vista">Vista de productos</a></li>

            <li><a href="/productos/nuevo-producto">Ingresar Producto</a></li>

            <li><a href="/chat">Volver al Chat</a></li>

            <li><a href="/info">Información del proceso</a></li>

            <li><a href="/randoms">Calcular Randoms</a></li>

        </ul>

    </header>