    <header>
        
        <h1>Desafio 18</h1>
        <ul>

            {{!-- {{#ifnoteq active "vista"}} --}}
            <li><a href="/productos">Vista de productos</a></li>
            {{!-- {{/ifnoteq}} --}}

            <li><a href="/nuevo-producto">Ingresar Producto</a></li>

        </ul>

    </header>