    <header>
        <h1>Mi aplicacion</h1>
        <ul>
            {{#ifnoteq active "home"}}
            <li><a href="/">Home</a></li>
            {{/ifnoteq}}
            <li><a href="/about">About</a></li>
        </ul>

    </header>