p Tabla Dinamica 

    if products 

        table(class="table")
            thead
                tr 
                    th(scope="col") #
                    th(scope="col") title
                    th(scope="col") price
                    th(scope="col") thumbnail
            tbody


            each product in products 

                tr  
                    th(scope="row")= product.id
                    td= product.title
                    td= product.price
                    td
                        img(src=product.thumbnail, alt="", class="img-thumbnail")

    else 

        p No hay productos 
