<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi App</title>
</head>
<body>
    <form action="/api/productos" method="post">
        <div>
            <label for="name">Title</label>
            <input type="text" name="title">
        </div>
        <div>
            <label for="name">Price</label>
            <input type="number" name="price">
        </div>
        <div>
            <label for="name">Image</label>
            <input type="text" name="thumbnail">
        </div>
        <input type="hidden" name="form" value="1" />
        <button>ENVIAR</button>
    </form>>
</body>
</html>