{{#if usuario}}  
    <p>Vista de Productos</p>

    <div class="form-group">
    <label>Bievenido! {{usuario}}</label>

    <form action="/logout" method="get" class="form-horizontal" role="form">
        <div class="form-group last" style="margin-bottom:0px;">
          <div class="col-sm-offset-3 col-sm-9">
            <input type="hidden" name="form" value="1" />
            <button type="submit" class="btn btn-success btn-sm">
              Desloguearse
              </button>
          </div>
        </div>
    </form>
    </div>
{{else}}
    <p>Vista de Productos</p>

    <div class="form-group">
        <label>Usuario no Logeado</label>
    </div>

{{/if}}

    <form action="/productos/vista" method="post" role="form">
        <div class="form-group">
            <label for="name">Title</label>
            <input id="input-title" class="form-control" type="text" name="title">
        </div>
        <div class="form-group">
            <label for="name">Price</label>
            <input id="input-price" class="form-control" type="number" name="price">
        </div>
        <div>
            <label for="name">Image</label>
            <input id="input-thumbnail" class="form-control" type="text" name="thumbnail">
        </div>
        <input type="hidden" name="form" value="1" />
        <button id ='miBoton' type="submit" class="btn btn-default">ENVIAR</button>
    </form>







